@import bootstrap-sprockets
@import bootstrap

.main
  border: 5px solid $brand-primary
  height: 73em
.logo
  float: right
  width: 280px
  height: 100px
  overflow: hidden
  img
    position: relative
    top: -140px

.content
  padding: 0 2em
  //border: 1px solid green
.page-break
  display: block
  clear: both
  page-break-after: always


h1
  font-size: 2em
  font-weight: bold
  margin-top: 3em
  color: $brand-primary
  text-transform: uppercase
h2
  font-size: 1.4em
  font-weight: bold
  margin-bottom: 2em
h3
  font-size: 1.2em
  font-weight: bold
  margin-top: 1em

table
  margin-top: 1em
  th, td
    padding-bottom: 0.3em
  th
    width: 25%
footer
  //border: 1px solid red
  position: fixed
  bottom: 0
  width: 100%
  p.homepage
    text-align: center
    font-size: 1.4em
    font-weight: bold
    color: $brand-primary
    margin-bottom: 0.5em
    span
      color: red
      font-size: inherit
  p.address
    text-align: center
    font-size: 0.65em
