@import bootstrap-sprockets
@import bootstrap

.content
  //border: 3px solid $brand-primary
  padding: 0 2em
header
  .logo
    width: 100%
    height: 6em
    img
      float: right

.page-break
  display: block
  clear: both
  page-break-after: always

h1
  font-size: 2em
  font-weight: bold
  color: $brand-primary
  text-transform: uppercase
h2
  font-size: 1.4em
  font-weight: bold
  margin-top: 3em
  margin-bottom: 2em
h3
  font-size: 1.2em
  font-weight: bold
  margin-top: 1em

table
  margin-top: 2em
  th, td
    padding-bottom: 0.3em
  th
    width: 25%
footer
  p
    text-align: center
  p.homepage
    font-size: 1.4em
    font-weight: bold
    color: $brand-primary
    span
      color: red
      font-size: inherit
  p.address
    font-size: 0.8em
